# Data used

### 1. Foursquare Location Data

I will be building an application that will interact with the Foursquare platform. The data used will correspond to the dataset I obtained from www.doogal.co.uk. Which displays the latitude, longitude, postcode etc.

### 2. Lewisham council postcodes from London

#### Example of screenshot
#### source code: doogal.co.uk

In [1]:
#1. Import pandas library
#2. visit link
#3. print head
import pandas as pd
site_link = 'https://www.doogal.co.uk/AdministrativeAreasCSV.ashx?district=E09000023' 
Data = pd.read_csv(site_link)
Data.head()

,Postcode,In Use?,Latitude,Longitude,Easting,Northing,Grid Ref,Ward,Parish,Introduced,Terminated,Altitude,Country,Last Updated,Quality,LSOA Code
0,BR1 4BY,Yes,51.417289,-0.001741,539050,170591,TQ390705,Downham,"Lewisham, unparished area",1980-01-01,NaN,35,England,2019-05-29,Within the building of the matched address clo...,E01003235
1,BR1 4DN,Yes,51.418996,-0.002156,539016,170780,TQ390707,Downham,"Lewisham, unparished area",1980-01-01,NaN,35,England,2019-05-29,Within the building of the matched address clo...,E01003235
2,BR1 4EY,Yes,51.418477,0.005042,539518,170736,TQ395707,Downham,"Lewisham, unparished area",1980-01-01,NaN,50,England,2019-05-29,Within the building of the matched address clo...,E01032565
3,BR1 4FD,Yes,51.421083,-0.002194,539007,171012,TQ390710,Downham,"Lewisham, unparished area",2010-01-01,NaN,33,England,2019-05-29,Within the building of the matched address clo...,E01003235
4,BR1 4JG,Yes,51.419403,-0.000728,539114,170828,TQ391708,Downham,"Lewisham, unparished area",1980-01-01,NaN,40,England,2019-05-29,Within the building of the matched address clo...,E01003235

# Methodology

### 1. Machine learning:

I will be using the famous K-means clustering to categorise postcodes into different types of clusters based on the venue categories. The data will be segmented into groups that are similar amongst them self, hence the difference will be the occurrence of venue. For the dataset, K-means Clustering will append another column to the dataset which will depict the cluster number, similar sectors will be grouped together.

### 2. Data Wrangling

The data I got contains a lot of data, so to make it short and precise I will use the following columns: postcode, latitude, longitude and ward, to obtain location, hence for those who don’t know the postcode has two parts, i.e. District and sector e.g. (BRQ 4BY)  (District Sector). A new column which contain Sectors is created and added the new column. The data for Lee Green ward is filtered to minimize the calls to Four square API

### 3. Exploratory Analysis

This city has 18 unique wards; therefore, it is filtered on a single ward as a point of interest namely Lee Green. As explained, postcode is having components, district and sector.

We display and plot all the sectors on the map and then 5 unique clusters based on the venue categories provide by the foursquare API data are created Lastly explore the top 5 venues in each sector.

The aim of this project is to limit work for individual and find recommendations for the user. We use Foursquare to get many venues, their coordinates and category per section up to 500m radius and then we limit number of venues as 100 for each section